# SPDX-FileCopyrightText: Copyright (c) 2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
**/target
**/.settings/
**/.metadata/
**/.recommenders/
*/.classpath
*/.project
*/bin
/nvidia.log
**/*.iml
*.idea
*.project
*.jtl
*.tern-project
*.log
*.pyc
*.txt
# OSS-prep file that must remain tracked despite the *.txt rule above.
!.allowed-licenses.txt
deploy.sh
*.swp
node_modules
**/results
.DS_Store
**/logs
**/tmp
/bazel-bin
/bazel-cloud-tasks
/bazel-out
/bazel-testlogs
.editorconfig
.sdkmanrc
