{
  "kv": {
    "cassandra": {
      {{- with secret "/services/sis-api/kv/data/cassandra/creds" }}
      "username": "{{ .Data.data.username }}",
      "password": "{{ .Data.data.password }}"
      {{- end }}
    },
    "nkey_seed": "{{ with secret "/services/all/kv/data/nats/creds" }}{{ .Data.data.key }}{{ end }}"
  }
}
