{
  "nats": {
    {{- with secret "/services/all/kv/data/nats/creds" }}
      "nkey_pub": "{{ .Data.data.public_key }}",
      "nkey_seed": "{{ .Data.data.key }}"
    {{- end }}
  },
  "fixed_bearer_secrets": {
    {{- with secret "services/nvcf-api/jwt/sign/invocation-api" }}
    "nvcf_api_token": "{{ .Data.token }}",
    {{- end }}
    {{- with secret "services/ratelimiter-api/jwt/sign/invocation-api" }}
    "rate_limit_token": "{{ .Data.token }}"
    {{- end }}
  },
  "oauth2": {
    "client_id": "no-client",
    "client_secret": "no-secret",
    "base_url": "https://oauth2.example.com"
  },
  "tracing": {
    "access_key": "no-key"
  }
}
