**/target
**/.settings/
**/.metadata/
**/.recommenders/
*/.classpath
*/.project
*/bin
/nvidia.log
**/*.iml
*.idea
*.project
*.jtl
*.tern-project
*.log
*.pyc
*.txt
deploy.sh
*.swp
node_modules
**/results
.DS_Store
**/logs
**/tmp
.editorconfig
.sdkmanrc
