{
  "kv": {
    {{- with secret "services/ess-api/kv/data/cassandra/creds" }}
    "cassandraUsername": {{ .Data.data.username | toJSON }},
    "cassandraPassword": {{ .Data.data.password | toJSON }},
    {{- end }}

    {{- with secret "services/all/kv/encryption/keys/audit" }}
    "audit-hmac-keys": {{ .Data.data.keys | toJSON }},
    "audit-hmac-kid": {{ .Data.data.current_kid | toJSON }},
    {{- end }}

    "crypto": {
    {{- with secret "services/all/kv/encryption/keys/stored_data" }}
    {{- $keys := .Data.data.keys | base64Decode | parseJSON }}
      "masterKey": "{{ sprig_first $keys.keys | toJSON | base64Encode }}",
      "allMasterKeys": "{{ $keys.keys | toJSON | base64Encode }}"
    {{- end }}
    }
  }
}
