{
  "kv": {
    "signing-key": {
      {{- with secret "/services/nvcf-notary/kv/data/keys/signing-key" }}
      "kid": "{{ .Data.data.kid }}",
      "alg": "{{ .Data.data.alg }}"
      {{- end }}
      },
    "private-key-jwks": {
      {{- with secret "/services/nvcf-notary/kv/data/keys/signing-key" }}
      "keys": {{ .Data.data.keys | base64Decode | toJSON }}
      {{- end }}
    }
  }
}