{
  "id": "no-id",
  "secret": "no-secret",

  {{- with secret `services/nvcf-api/jwt/sign/grpc-proxy-proxy` }}
  "nvcfApiToken": "{{ .Data.token }}",
  {{- end }}

  {{- with secret `services/ratelimiter-api/jwt/sign/grpc-proxy-proxy` }}
  "ratelimiterToken": "{{ .Data.token }}",
  {{- end }}

  {{- with secret "/services/all/kv/data/nats/creds" }}
  "natsPublicNKey": "{{ .Data.data.public_key }}",
  "natsPrivateNKey": "{{ .Data.data.key }}"
  {{- end }}
}
